.inputArea {
  display: flex;
  gap: 12px;
  justify-content: center;
}
.circleArea {
  display: flex;
  height: 170px;
  gap: 16px;
  justify-content: center;
}
.queueContentArea {
  display: flex;
  gap: 128px;
  flex-direction: column;
}
.countedCircle {
  display: flex;
  height: 110px;
  gap: 8px;
  flex-direction: column;
  justify-content: end;
}
.countedCircleWithUnderText {
  display: flex;
  gap: 8px;
  flex-direction: column;
}
