.inputArea {
  display: flex;
  gap: 12px;
  justify-content: center;
}
.circleArea {
  display: flex;
  height: 170px;
  gap: 16px;
  justify-content: center;
}
.listContentArea {
  display: flex;
  gap: 120px;
  flex-direction: column;
}

.verticalInputForm {
  display: flex;
  gap: 38px;
  flex-direction: column;
}
.countedCircle {
  display: flex;
  height: 80px;
  gap: 8px;
  align-items: center;
}
