.inputArea {
  display: flex;
  gap: 12px;
  justify-content: center;
}
.circleArea {
  display: flex;
  gap: 16px;
  justify-content: center;
}
.stackContentArea {
  display: flex;
  gap: 48px;
  flex-direction: column;
}
.countedCircle {
  display: flex;
  gap: 8px;
  flex-direction: column;
  justify-content: end;
}
