.inputArea {
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
}
.columnArea {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: end;
  padding-bottom: 46px;
}
.sortingContentArea {
  display: flex;
  gap: 70px;
  flex-direction: column;
}
